html {
    height: 100%;
    width: 100%;
  }
   body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: lightgray;
  } 
  #body-part{
    top: 40%;
    bottom:20%;
    left: 25%;
    right: 25%; 
    position:absolute;

  }

  h1,h3 {
    color : rgb(234, 171, 13);
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  img {
    width : 180px;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu{
    /* margin-left: 0.75rem; */
    font-weight: bold;
    font-size: 30px;
    color : rgb(244, 229, 223);
    border: none;
    border-radius: 20px;
    padding: 0.25cm;
    background-color:olivedrab;
    /* background : url("Image/Ratten01.jpg") center center no-repeat fixed; */
    /* opacity: 0.8; */
    border-style: outset;
    border-radius: 1px;
    border-color: cornflowerblue;
    
  }

  nav{
    top: 18%;
    align-self: flex-end;
    order:3;
    
  }
  

  #purchase {
    font-weight: 150;
    font-size: 25px;
    color: green;
  }
  
  #description{
    padding-right: 10cm;
    font-size: 17px;
    color: rgb(242, 91, 15);
  }


  header > p {
    padding-top: 2rem; 
    text-align: center;
    font-family: cursive;
    font-style: oblique;
  }
   
  .header-container{
    background: url("/MudraMain/Image/Hanwoven basket.png") top center fixed;
    position: fixed; 
    width:100%;
    height: 28%;
  }

  .footer-container{
    background-color: coral;
    position: fixed; 
    width: 100%;
    top: 95%;
    bottom:0;
  }

  #reachOut{
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    display: inline-block;
    order: 1;
    margin-top: 2px;
    margin-left: 10px;

  }
  #subscribe{
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    display: inline-block;
    order:3;
    margin-top: 2px;
  }

  #sub  > p{
     top: 20%;
     padding-top: 3rem; 
     
    }
